.onsale {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
  background-color: $red;
  color: $white;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.woocommerce-product-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  .badge {
    @extend .badge, .bg-secondary;
    position: relative;
    z-index: 1;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}