.filter {
    .filter__list {
        list-style: none;
        padding: 0;
    }

    .filter__link {
        outline: none;
        border: none;
        padding: 0;
        background: transparent;
    }
}