.footer {
  background-color: $secondary-light;
  background: linear-gradient(to bottom, rgba($secondary, .5), rgba($secondary, .75)), url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;

  .footer__top {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .footer__bottom {
    padding-bottom: 1rem;
  }

  .footer__block {
    margin-bottom: 1.25rem;
  }

  .footer__title {
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
    color: $white;
  }

  .footer__logo {
    margin-top: 0.5rem;
    padding: 0.75rem 3.125rem;
    border-radius: 20px;
    background-color: rgba($white, .15);

    .footer__logoitem {
      display: flex !important;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: auto;
        max-height: 70px;
      }
    }
  }

  .footer__notice {
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
    background-color: rgba($black, .25);

    p {
      margin: 0;
    }
  }

  .nav {
    .nav__list {
      a {
        color: $white;
      }
    }
  }
}

.copyright {
  margin-bottom: 0;
  color: $white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid $white;
  margin-top: 1.5rem;
}

.back-to-top {
  position: fixed;
  right: calc($grid-gutter-width * .5);
  bottom: calc($grid-gutter-width * .5);
  width: 2rem;
  height: 2rem;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  display: grid;
  place-items: center;
  background-color: rgba($black, .5);
  border-radius: 2rem;

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

@include media-breakpoint-up(xl) {
  .footer {
    .footer__top {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .footer__block {
      margin-bottom: 0;
    }

    .footer__title {
      margin-bottom: 1.75rem;
      font-size: 2rem;
    }
  }
}