.pagination,
.woocommerce-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;

  ul.page-numbers {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a.page-numbers,
  span.page-numbers {
    &:not(.dots) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      padding: 0 !important;
      font-size: 1rem;
      font-weight: 600;
      color: $black;
      text-decoration: none;

      .icon {
        width: 1rem;
        height: 1rem;
        color: $black;
      }

      &:hover,
      &.current {
        border-color: $primary;
        background-color: $primary;
        color: $white;

        .icon {
          color: $white;
        }
      }
    }

    &.dots {
      padding: 0;
      border: none;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5rem;

  .navigation__link {
    display: flex;
    gap: 1.25rem;
    max-width: 40%;
    padding: 1rem;
    background-color: rgba($gray-400, .3);
    color: $black;
    border-radius: 15px;
    text-decoration: none;

    &.next {
      margin-left: auto;

      .navigation__label {
        flex-direction: row-reverse;
      }
    }

    &.prev {
      margin-right: auto;
    }
  }

  .navigation__image {
    display: block;
    width: auto;
    height: 120px;
    border-radius: 5px;
  }

  .navigation__body {
    display: flex;
    flex-direction: column;
  }

  .navigation__label {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: auto;
    margin-bottom: 0;

    .icon {
      flex: 0 0 auto;
      width: 30px;
      height: 30px;
      padding: 6px;
      color: $white;
      background-color: $secondary;
      border-radius: 50%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .pagination,
  .woocommerce-pagination {
    ul.page-numbers {
      gap: 0.625rem;
    }

    a.page-numbers,
    span.page-numbers:not(.dots) {
      width: 3rem;
      height: 3rem;
    }
  }
}