.slider.slider--gallery {
    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide > div {
        display: flex;
        flex: 1;
    }

    .slick-list {
        margin-left: calc($grid-gutter-width * -1);
    }

    .slick-slide {
        padding-left: $grid-gutter-width;
    }

    .slick-arrow {
        &.slick-prev {
            left: 0;
        }

        &.slick-next {
            right: 0;
        }
    }

    .slider__list {
        margin-top: 1rem;
    }

    .slider__figure {
        display: block !important;
    }

    .slider__image {
        display: block;
        width: auto;
        max-width: initial;
        height: 250px;
        border-radius: 15px;
    }

    .slider__controls {
        top: 100%;
        justify-content: flex-end;
    }
}