.page {
  padding-top: 64px;
  min-height: 100vh;

  .page__header {
    margin-bottom: 1.875rem;
  }

  .page__title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .page__content {
    .thank-you-details {
      list-style: none;
      padding: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .page {
    .page__title {
      font-size: 3.75rem;
    }
  }
}
