.section.section--single-product {
  padding-bottom: 0;
  overflow-x: hidden;
}

.section.section--product-main {
  padding-top: 0;
  padding-bottom: 0;

  .section__inner {
    @extend .row;
    flex-direction: row-reverse;
  }

  // Gallery block
  .gallery {
    @extend .col-12;
    @extend .col-md-6;
    position: relative;

    /*
    .woocommerce-product-gallery__image {
      margin-bottom: 1rem;

      img {
        @extend .img-fluid;
        border-radius: .5rem;
        object-fit: cover;
      }
    }

    // Thumbnails
    .flex-control-thumbs {
      @extend .row;
      gap: .5rem;
      margin: 0;

      li {
        @extend .col;
        flex: 1 1 auto;

        img {
          @extend .img-fluid;
          border-radius: .375rem;
          border: 1px solid $border-color;
          cursor: pointer;
          transition: border-color .15s ease;

          &:hover {
            border-color: $primary;
          }
        }
      }
    }
    */

    &.entry-gallery {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
    }

    .woocommerce-product-gallery {
      overflow: hidden;
      width: calc(200% + 1rem);
      padding-right: calc(100% + 1rem);
      margin-right: calc(-1 * (100% + 1rem));

      .woocommerce-product-gallery__wrapper {
        height: 100%;

        .slick-list {
          width: calc(78% + .25rem);
          overflow: visible !important;
          margin-left: -.125rem;
          margin-right: -.125rem;
        }

        .slick-slide {
          aspect-ratio: 1 / 1;
          margin-left: .125rem;
          margin-right: .125rem;

          img {
            height: 100%;
          }
        }

        .slick-arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4rem;
          height: 4rem;
          border: none;
          background-color: $white;
          position: absolute;
          bottom: 0;
          z-index: 1;

          &.slick-next {
            left: 100%;
          }

          &.slick-prev {
            left: calc(100% - 4rem);
          }

          svg {
            width: 1.25rem;
            height: 1.25rem;
            fill: $primary-dark;
          }
        }
      }

      .woocommerce-product-gallery__image {
        display: block !important;

        > a {
          display: flex;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1 / 1;
          background-color: rgba($white, 1);
        }
      }
    }

    .woocommerce-product-badge {
      top: 1.5rem;
      left: 2.5rem;
    }
  }

  // Summary block
  .summary {
    @extend .col-12;
    @extend .col-md-6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    & > p {
      margin: 0;
    }
  }

  .woocommerce-product-rating {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .875rem;

    .woocommerce-review-link {
      text-decoration: none;
      color: $body-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .price {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    & > span {
      display: flex;
      flex-direction: column;
    }

    del {
      font-size: .875rem;
      color: $body-color;
    }

    ins {
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      color: $primary;
    }

    .price-label {
      font-size: .875rem;
      font-weight: normal;
    }
  }

  .woocommerce-product-details__short-description {
    font-size: 1rem;
    line-height: 1.5;
  }

  form.cart {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: .625rem;

    // Remove gap if .quantity only has a hidden input
    &:has(.quantity input[type="hidden"]) {
      gap: 0; 
    }

    .quantity {
      display: flex;
      align-items: center;
      margin-right: .625rem;
      border-radius: .375rem;
      overflow: hidden;

      input.qty {
        width: 80px;
        text-align: right;
        border: 1px solid $border-color;
        padding: .5rem;
        padding-right: 2.125rem;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .plus {
        margin-left: .25rem;
      }

      .minus {
        margin-right: .25rem;
      }
    }

    .quantity__inner {
      position: relative;
      display: inline-flex;
    }

    .quantity__label {
      position: absolute;
      top: 50%;
      right: .5rem;
      transform: translateY(-50%);
      pointer-events: none;
      color: $gray-500;
    }

    .single_add_to_cart_button {
      @extend .btn;
      @extend .btn-primary;
    }
  }

  .product_meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: .875rem;

    .product_meta__icon {
      color: $primary-light;
    }
  }

  .drs-fee {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;

    p {
      margin: 0;
      font-size: .875rem;
    }
  }

  .product-awards {
    .product-awards__list {
      display: flex;
      flex-wrap: wrap;
      gap: .875rem;
      list-style: none;
      padding: 0;
      margin: .5rem 0 0;
    }
  }
}

.section.section--product--icons,
.section.section--product--additional_information {
  h3 {
    margin-top: 1.25rem;
  }

  .section__list {
    display: grid;
    gap: 1rem 2rem;
    padding: 0;
  }

  .section__listitem {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .875rem;
    color: $primary;
  }

  .section__icon {
    width: 3rem;
    height: 3rem;
    color: $primary-light;
  }

  .section__text {
    font-size: .875rem;
  }
}

.section.section--product--description {
  border-top: 1px solid $primary;
}

.section.section--product--additional_information {
  background-color: $primary-light;

  .section__listitem {
    color: $body-color;
  }

  .section__icon {
    color: $primary;
  }
}

.section.section--product--reviews {
  background-color: $gray-100;
  background-image: linear-gradient(to bottom, rgba($body-bg, .95), rgba(255, 255, 255, 0)), url('./../images/reviews-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $primary;

  .review {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &::before,
    &::after {
      content: '';
    }

    &::before {
      position: absolute;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1), inset 3px 3px 3px hsla(0, 0%, 100%, .2), inset -3px -3px 3px hsla(0, 0%, 0%, .2), 26px 18px 3px hsla(0, 0%, 0%, .15);
      background-color: $primary-dark;
      z-index: 2;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 2px;
      height: 32px;
      background-color: #aaa;
      z-index: 1;
    }

    .comment_container {
      background-color: rgba($white, 1);
      padding: 2.5rem 1.25rem;
      box-shadow: 0 10px 10px 2px rgba(0, 0, 0, .25);
      transform: rotate(-2deg);

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: calc(50% + 14px);
        height: 24px;
        width: 2px;
        background-color: hsla(0, 0%, 0%, .1);
        box-shadow: 0 0 .25em hsla(0, 0%, 0%, .1);
        transform: rotate(57.5deg);
      }
    }

    .comment-text {
      display: flex;
      flex-direction: column;
      color: $body-color;
    }

    .description {
      font-size: .875rem;
    }
  }

  .slick-list {
    margin-left: -1rem;
  }

  .slick-slide {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section.section--related-products {
  background-color: rgba($white, 1);
}

@include media-breakpoint-up(lg) {
  .section.section--product-main {
    .section__inner {
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .gallery {
      &.entry-gallery {
        flex: 0 0 50%;
        max-width: 50%;

        .woocommerce-product-gallery {
          .woocommerce-product-gallery__wrapper {
            .slick-list {
              width: calc(100% + .25rem);
            }
          }
        }
      }
    }

    div.summary {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .section.section--product-main {
    .gallery {
      &.entry-gallery {
        flex: 0 0 660px;
        max-width: 660px;
      }
    }

    div.summary {
      flex: 0 0 calc(100% - 660px);
      max-width: calc(100% - 660px);
    }
  }

  .section.section--product--icons {
    .section__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .section.section--product--additional_information {
    .section__list {
      grid-template-columns: max-content 1fr;
    }
  }
}
