.nav.nav--main {
  .nav__toggle {
    margin-right: 1rem;
    border: none;
    background-color: transparent;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      color: $primary-dark;
    }
  }

  .nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav__link {
    display: block;
    color: $primary;
    text-decoration: none;

    &.level0,
    &.level1,
    &.level2 {
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 500;
    }

    &.level0 {
      display: flex;
      align-items: center;
      color: $white;
    }
  }

  /*
  .nav__image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0 auto;
  }

  .nav__lead {
    display: block;
    font-family: $font-family-base;
    font-size: 0.875rem;
    text-transform: none;
    font-weight: 400;
  }
  */

  form[role="search"] {
    display: flex;
    margin-bottom: 1rem;

    label {
      width: 100%;
      margin: 0;
    }

    input[type="submit"],
    button[type="submit"] {
      margin-left: .875rem;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .nav.nav--main {
    display: flex;
    align-items: center;

    .offcanvas-body {
      padding-top: 0;
    }

    .nav__list {
      width: 100%;
      flex-direction: column;
    }

    .nav__item {
      border-top: 1px solid rgba($primary, 0.5);

      &:first-child {
        border-top: none;
      }

      &.level1 {
        &:not(.has-children) {
          > .nav__link {
            &::after {
              display: none;
            }
          }
        }

        &.has-children {
          > .nav__link {
            display: flex;

            &:not(.collapsed) {
              font-weight: 700;
            }
          }
        }
      }
    }

    .nav__link {
      padding: 0.5rem 0;

      &.level0 {
        padding: 0.5rem 0;
        font-weight: 700;
        color: $primary;
      }
    }

    .nav__image {
      display: none;
      flex: 0 0 25%;
      max-width: 25%;

      & + span {
        //padding-left: 0.5rem;
        //text-align: left;
      }
    }

    .nav__lead {
      display: none;
      text-align: left;
    }

    .nav__button {
      margin-top: 1.5rem;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .nav.nav--main {
    .offcanvas,
    .offcanvas-body {
      height: 100% !important;
    }

    form[role="search"] {
      display: none;
    }

    .nav__toggle {
      display: none;
    }

    .nav__list {
      &.level0 {
        display: flex;
      }

      &.level1 {
        display: none;
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100vw;
        padding: 2.5rem 4rem 3rem;
        gap: 2.5rem;
        transform: translateX(-50%);
        z-index: 1;
        background-color: $white;
        border-top: 1px solid rgba($primary-dark, 0.2);
        border-bottom: 1px solid rgba($primary-dark, 0.2);
      }

      &.level2 {
        margin-top: 0.5rem;
      }
    }

    .nav__item {
      &.level0 {
        display: flex;
        align-items: center;
        margin-right: 0.75rem;

        &.has-children {
          & > .nav__link {
            &::after {
              display: block;
              content: "";
              width: 0.75rem;
              height: 0.75rem;
              background-image: #{escape-svg($accordion-button-icon)};
              background-size: 0.75rem;
              transform: rotate(0);
            }

            span {
              padding-right: 1rem;
            }
          }
        }
      }

      &.level1 {
        &.accordion-item,
        &.is-product {
          flex: 1;
        }
      }

      &.level2 {
        margin-top: 1rem;
      }

      &:hover {
        .nav__list {
          &.level1 {
            display: flex;
          }
        }

        .nav__link {
          &.level0 {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }

    .nav__link {
      &.level0 {
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          inset: auto 0 0;
          width: 0;
          height: 1px;
          background-color: $white;
          transition: $transition-base;
        }
      }

      &.level1 {
        &:has(.nav__image) {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;

          > span {
            margin-top: 0.75rem;
          }

          .nav__lead {
            text-transform: none;
            font-weight: 400;
          }
        }
      }
    }

    .nav__button {
      display: none;
    }
  }
}
